{% extends "base.html" %}

{% block content %}
  <img src="/static/zz_coat_of_arms.png" width="33%" border="0">
  <div id="like">
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.zilbereich.com&amp;layout=button_count&amp;show_faces=false&amp;width=600&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:600px; height:21px;" allowTransparency="true"></iframe>
  </div>
{% endblock%}
