<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">

<html>
  <head>
    <style>
      body {
        background-image: url("/static/zz_banner.png");       
        background-position: bottom right;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #8B3E2F;
      }
      
      div#content {
        margin-top: 5%;
      }
    </style>
  </head>

  <body>
    </br>
    </br>
    <div id="content" align="center">
      <a href="/main">
	<img border="0" src="/static/zz_coat_of_arms.png">
      </a>
    </div>
  </body>

</html>
