{% extends "base.html" %}

{% block content %}

      <h2>The Rules</h2>

      <p>furniture must be rumba compliant.</p>
      <p>use fully qualified domain names.</p>
      <p class="heb">כשעושים 'לחיים' חובה להסתכל בעיניים, אחרת זה שבע שנים של קוד רע.</p>
      <p class="heb">אם אתה נוסע להודו סימן שאין לך שירותים בבית.</p>
      <p class="heb">לא צוחקים על השואה, נהרגו שם עשרות אנשים.</p>
      <p class="heb">לא להכניס ראש לפה של אריה.</p>

      </br>

      <h2>The Axioms</h2>

      <p>there's no patch for stupidity.</p>
      <p>success == 0</p>
      <p class="heb">יחידת המסחר הקטנה ביותר היא פרו בטלעד.</p>
      <p class="heb">סטורג' זה סך הכל קופסא שכותבים בה.</p>
      <p class="heb">אלוהים לא ישמור, הוא קצין.</p>
      <p class="heb">עט זה סטיילוס שמטפטף.</p>
      <p class="heb">איי.בי.אם היא ספינה.</p>

{% endblock %}
