{% extends "base.html" %}

{% block style %}

table {
	font-family: Tahoma, Verdana, Arial;
        border: 2px solid black;

}

tbody td{
	font-size: 10px;
	background: #2d3134;
	color: #fff;
	border: 1px solid #373B3E;
	padding-left: 3px;
	height: 40px;
}
tbody td a:link{
	font-size: 12px;
	color:#FF6600;
	font-weight: bold;
	text-decoration: none;
}

tbody td a:hover{
	font-size: 12px;
	color:#FF6600;
	font-weight: bold;
	text-decoration: underline;
}

tbody td a:visited{
	font-size: 12px;
	color:#FF6600;
	font-weight: bold;
	text-decoration: line-through;
}
tbody th{
	background: silver;
	color: black;
	text-align: left;
	padding-left: 4px;
	border: 1px solid #2d3134;
	width: 120px;
}
tbody th a:link{
	color: #fff;
	font-size: 12px;
	font-weight: bolder;
	text-decoration: none;
}
tbody th a:hover{
	font-size: 13px;
	color: #fff;
	font-weight: bolder;

}
tbody th a:visited{
	text-decoration: line-through;
	font-size: 12px;
	color: #fff;
	font-weight: bolder;

}
tbody tr:hover{
	background: #333;
}
tbody a[title^="Download"] { 
	/*background: url('http://www.fitodotnet.com/csstablegallery/icon_attachment.gif') no-repeat center;
	padding-top: 22px;*/
	font-size: 12px;
	color:#FF6600;
	text-align: center;
}
tbody a[title^="Download"]:hover{
	text-decoration: underline;
	font-size: 12px;
	color:#FF6600;
}
tbody a[title^="Download"]:visited{
	text-decoration: line-through;
	font-size: 12px;
	color:#FF6600;
}
tfoot{
	background: #1F2A34;
	color: #fff;
	font-size: 18px;
	text-align: center;
	border-left: 1px solid #1F2A34;
	border-right: 1px solid #1F2A34;
}
tfoot td{
	font-style:italic;
}
table caption{
	background: #1F2A34;
	color: #fff;
	text-align: center;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left: 1px solid #1F2A34;
	border-right: 1px solid #1F2A34;
}

{% endblock style %}

{% block content %}

<table>
  <tr>
    <th>Product</th>
    <th>Location</th>
    <th>OS</th>
    <th>Gen</th>
    <th>Capacity</th>
  </tr>
  <tr>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
  </tr>
</table>

{% endblock content %}
